---
export interface Props {
    title: string;
    href: string;
    target_blank?: boolean;
    on?: boolean
}

const { title, href, target_blank, on } = Astro.props;
---
<div class=`{flex flex-col space-y-1 ${on ? "text-white" : "text-gray-400"} items-center}`>
    <a href={href} class="text-xl font-semibold">
        {title}
    </a>
    {on && <div class="w-1.5 h-1.5 rounded-full bg-yellow-400"></div>}
</div>