---
import NavbarButton from './components/NavbarButton.astro'
---

<div class="w-full flex flex-row space-x-6 justify-end">
    <NavbarButton title="Services" href="/services" on />
    <NavbarButton title="Works" href="/works" />
    <NavbarButton title="Blog" href="/blogs" />
</div>
