---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/navigation/Navbar.astro'
import BigName from '../components/landing/BigName.astro'
---

<BaseLayout title="Start">
	<main>
		<Navbar />
		<div class="pt-12">
			<BigName />
		</div>
	</main>
</BaseLayout>
